<!DOCTYPE html>
<html>
  <%-
    include('../partials/head', { titulo })
  -%>
  <body>
    <%- include('../partials/nav') -%>
    <h1><%= titulo %> - <%= autor %></h1>

    <p>$<%= precio %></p>

  </body>
</html>
